/* Style the side navigation */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.sidenav a:hover {
    background-color: #272640;
    color: #fff;
}

/* color palette */
.teste {
    background-color:
    #006466
    #065A60
    #0B525B
    #144552
    #1B3A4B
    #212F45
    #272640
    #312244
    #3E1F47
    #4D194D;
}
